@import "../base/params";

html, body, .main-ctx, .login-wrp{
  height: 100%;
}

.el-popper .cur{
  color: $main-dkcolor;
  background-color: $main-bdcolor;
}

.login-ctx{
  height: 100%;
  background-color: $color-f5;
  overflow: auto;
  .login-banner{
    background-color: $color-gf;
    .lang-pick{
      float: right;
    }
    .fros-icon-language{
      font-size: 24px;
      color: $color-gf;
      cursor: pointer;
      text-align: center;
      position: relative;
      .lang-text{
        position: absolute;
        display: block;
        width: 100%;
        line-height: 1;
        font-size: 12px;
        font-weight: bold;
        margin-top: 9px;
        top: 0;
      }
    }
    .icon-logo{
      margin-top: 10px;
    }
  }
  .login-pannel-wrp{
    height: 600px;
    padding: 0;
    flex: none;
    background: url("https://sc-portal-1252602947.file.myqcloud.com/loginbg.jpg") no-repeat center;
    background-size: cover;
    .login-main{
      width: 1280px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .el-form-item{
        .icon-user, .icon-password{
          position: absolute;
          z-index: 1;
        }
        .el-input{
          input{
            padding-left: 40px;
          }
          &.no-pd{
            input{
              padding-left: 16px;
            }
          }
        }
      }
      .el-button.login-button{
        width: 100%;
        margin-top: 25px;
      }
      .login-op{
        text-align: right;
        margin-top: 32px;
        a{
          text-decoration: none;
          font-size: 14px;
          display: inline-block;
          color: $color-g6;
          margin-left: 12px;
          &:hover{
            color: $main-dkcolor;
          }
        }
      }
    }
    .login-pannel{
      width: 360px;
      background-color: $color-gf;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      border-radius: 6px;
      box-shadow: 0px 0px 20px 1px transparentize($color-g6, 0.8);
      padding: 32px;
      flex: none;
      overflow: hidden;
      .login-title{
        font-size: 24px;
        color: $main-dkcolor;
        margin-bottom: 30px;
      }
    }
  }
  .login-footer{
    width: 1280px;
    margin: 0 auto;
    margin-top: 60px;
    .login-friend-link{
      padding: 12px 0;
      border-top: 1px solid $color-gd;
      border-bottom: 1px solid $color-gd;
      overflow: hidden;
      a{
        display: inline-block;
        padding: 0 15px;
        position: relative;
        &:first-child{
          margin-left: -1px;
        }
        &:after{
          content: '';
          display: block;
          height: 100%;
          border-left: 1px solid $color-gd;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .company-info{
    width: 1280px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0 15px;
    margin-bottom: 80px;
  }
}

.verify-image{
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-radius: 5px;
  display: block;

  cursor: pointer;
}
.to-reg-btn{
  cursor: pointer;
}

.float-box{
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: $color-f5;
  .iconfont{
    color: $main-blue;
    display: block;
    &.fros-icon-diannao{
      font-size: 48px;
      padding: 16px;
    }
    &.fros-icon-erweima{
      font-size: 56px;
      padding: 12px;
    }
  }
  .half-cover{
    width: 0px;
    height: 0px;
    border-color: $color-gf transparent;
    border-width: 0px 80px 80px 0px;
    border-style: solid;
    position: absolute;
    z-index: 3;
  }
}

.qrcode-wrp{
  margin-top: 10px;
  img{
    padding: 10px;
    border: 1px solid $color-gc;
    width: 140px;
    height: 140px;
    display: block;
    margin: 0 auto;
  }
}

.qrcode-tip{
  display: flex;
  width: 130px;
  margin: 0 auto;
  margin-top: 12px;
  padding-bottom: 44px;
  .iconfont{
    font-size: 36px;
    color: $main-blue;
  }
  .qrcode-text{
    line-height: 1;
    padding-top: 5px;
    padding-left: 10px;
  }
}

.white-cover{
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
  margin-left: -70px;
  background-color: rgba($color-gf, 0.85);
  text-align: center;
  .el-icon-success{
    font-size: 32px;
    color: $main-green;
    margin-top: 44px;
  }
  .scan-success{
    color: $color-g0;
    margin-top: 4px;
  }
}

@media screen and (max-width:1280px){
  .login-ctx{
    .login-pannel-wrp{
      .login-main{
        width: 100%;
        overflow: hidden;
        .login-pannel{
          right: auto;
          left: 50%;
          margin-left: -180px;
        }
      }
    }
    .login-footer{
      width: 100%;
    }
    .company-info{
      width: 100%;
    }
  }
}
