@import "../base/params";

.com-footer{
  padding: 24px 0;
  background-color: $color-g5;
  margin-top: 80px;
}

.friend-link{
  background-color: $color-5c;
  line-height: 2;
  color: $color-8c;
  padding: 4px 0;
  .link-item{
    display: inline-block;
    margin-right: 10px;
    &.mr{
      margin-right: 16px;
    }
    a {
      color: $color-8c;
      &:hover{
        color: $main-blue;
      }
    }
  }
}

.other-link{
  .friend-link-ctx{
    .friend-link-colum{
      width: 25%;
      padding: 0px 36px 42px 36px;
      ul{
        li{
          font-size: 16px;
          color: $color-gc;
          line-height: 26px;
          &.li-first-item{
            font-size: 16px;
            color: $color-gf;
            margin-bottom: 4px;
          }
          a{
            color: $color-gc;
            font-size: 14px;
            &:hover{
              color: $main-blue;
            }
          }
        }
      }
    }
  }
}

.friend-link-ctx{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  font-size: 14px;
}

.link-wrp{
  flex: 1;
}
