.el-popover.header-popper{
  border-radius: 0;
  margin-top: 0px!important;
  border: 0;
  min-width: auto;
}
.el-popover.qrcode-popper{
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}



.el-popover.search-popper{
  padding: 0;
}


.search-box{
  .header-op{
    padding: 0 16px;
    text-align: left;
    min-width: 80px;
    cursor: pointer;
    .iconfont{
      font-size: 14px;
    }
  }
  .fros-icon-biaotou-daoxu{
    margin-left: 6px;
  }
}
